extends layout

block content
  
  h1= title

  h3 GET /photos
  p Get all photos

  h3 POST /photos
  p Store a photo.

  h3 Upload an image here!
  form(action='/photos', method='post', enctype='multipart/form-data')
    input#photo(type='file', name='photo', multiple='false')
    button(type='submit') Submit
